:root{
    --bg-color-grey: #313131;
    --bg-color-black: #141415;
    --text-color-white: #FFFFFF;
    --text-color-blue: #51ACFF;
    --text-color-grey: #7d7d7d;
    --bg-gradient1: #808080;
    --bg-gradient2: #2F4F4F;
    --bg-gradient3: #483D8B;
    --bg-gradient4: #FF4500;
}